h1{border:solid; text-align:center; background-color:gold;}

h2{text-align:center}

img{transform:rotate (-10deg); height:100px; width:100px; border-radius:0 20px 0 20px; }

ul{background-color:white; border:light;}

body{background-color:lightGreen}